
/* Testimonial Section */

#testimonials {
  background-color: rgb(230,174,183);
  background: linear-gradient(126deg, rgba(230,174,183,1) 0%, rgba(182,221,228,1) 55%);  
  padding-top: 80px;
}

.testi-wrap {
  border-style: solid;
  border-width: 5px;
  border-color: #D99397;
  margin-bottom: 80px;
}

.testimonial-text {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #005B47;
}
.testimonial-text, div {
  color: #005B47;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.box {
  transform: translateX(200%);
  transition: transform 0.8s ease;
}
.box:nth-of-type(even) {
  transform: translateX(-200%)
}
.box.show {
  transform:translateX(0);
}

  #press {
    background-color: #ef8172;
  }

  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }