
<section class="white-section" id="features">
    <div class="container ">
      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-birthday-cake fa-4x"></i>
          <h3 class="feature-title">Premium Ingredients</h3>
          <p>Our cakes use the highest quality ingredients which are sourced internationally and freshly. This will increase the longevity of your purchase.</p>
        </div>
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-truck fa-4x"></i>
          <h3 class="feature-title">Delivery on time</h3>
          <p>We make sure you receive your order on time. We also provide free returns if there is any defect or damage to the product.</p>
        </div>
        <div class="feature-box col-lg-4">
          <i class="icon far fa-thumbs-up fa-4x"></i>
          <h3 class="feature-title">Do It Yourself</h3>
          <p>You can choose your preferred flavour and decide on the ingredients to be put in the cake. Simply put "DIY" under remarks in your order!</p>
        </div>
      </div>
    </div>
  </section>