
    <footer id="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Cakewebsite.com <i>CAKE SHOP NEAR YOU </i> can provide custom cakes, sweets, desert. We can provide any cake/pastry needs, for Birthdays, Wedding, Christening /Baptismal or any type of events. We do deliveries /meet up. Services: Customized cakes, cupcakes, brownies, donuts, and many more!</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="#">Cakes</a></li>
              <li><a href="#">Cupcakes</a></li>
              <li><a href="#">Brownies</a></li>
              <li><a href="#">Donuts</a></li>
              <li><a href="#">Others</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="/home">Home</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/sitemap">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
         <a href="#">DEVJLWEB</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://www.facebook.com/ryleskitchen/"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/ryleskitchen/"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a class="instagram" href="https://www.instagram.com/ryles_kitchen/"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a class="pinterest" href="https://www.pinterest.com/ryleskitchen/"><i class="fa-brands fa-pinterest"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>





      <!-- <div class="container py-3 py-sm-5">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <h6>Quick links</h6>
            <ul class="list-unstyled">
              <li><a href="/">Home</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <h6>Information</h6>
            <ul class="list-unstyled">
              <li><a href="#0">Legal information</a></li>
              <li><a href="#0">Job opportunities</a></li>
              <li><a href="#faqs">Frequently Asked Questions</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <h6>Follow us</h6>
            <ul class="list-unstyled">
              <li><a href="https://www.facebook.com/ryleskitchen"><i class="fab fa-fw fa-facebook"></i> Facebook</a></li>
              <li><a href="https://www.instagram.com/ryles_kitchen/"><i class="fab fa-fw fa-instagram"></i> Instagram</a></li>
              <li><a href="https://twitter.com/ryleskitchen"><i class="fab fa-fw fa-twitter"></i> Twitter</a></li>
              <li><a href="https://www.youtube.com/ryleskitchen"><i class="fab fa-fw fa-youtube"></i> YouTube</a></li>
              <li><a href="https://www.linkedin.com/in/joan-kristel-lim-580693247/"><i class="fab fa-fw fa-linkedin"></i> LinkedIn</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <h6>#4 Fasa Ave. Martinar, Nadi</h6>
            <address>
              <strong>Ryle's Kitchen</strong><br>
              Fasa Ave.<br>
              Martinar, Nadi<br>
              <i class="fas fa-fw fa-phone"></i> <a href="tel:+6799033297">(679) 903-3297</a><br>
              <i class="fas fa-fw fa-envelope"></i> <a>joan@ryleskitchen.com</a>
            </address>
          </div>
        </div>
        <ul class="list-inline mt-2 mb-0 text-center">
          <li class="list-inline-item">&copy; 2022 Ryle's Kitchen</li>
          <li class="list-inline-item">All rights reserved.</li>
        </ul>
      </div> -->
    </footer>