<header class="header-nav">
  <nav class="navbar navbar-expand-lg p-md-0 p-3">
    <div class="container px-0">
      <a href="/" class="navbar-brand" id="navLogo">Cake Website</a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarResponsiveMedium" aria-controls="navbarResponsiveMedium" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-dark justify-content-end" id="navbarResponsiveMedium">
        <ul class="navbar-nav">
<!-- Links -->
          {% include nav-links.html %}
        </ul>
      </div>
    </div>
  </nav> 
</header>