<div class="" id="heroTitle">
     <div class="container px-0"> 
      <div class="row flex-lg-row-reverse align-items-center g-5 pb-5 m-0">
          <div class="col-lg-6 mt-3">

            <div id="carouselDark" class="carousel slide carousel-dark" data-bs-ride="carousel">
              <ol class="carousel-indicators">
                <li data-bs-target="#carouselDark" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselDark" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselDark" data-bs-slide-to="2"></li>
                <li data-bs-target="#carouselDark" data-bs-slide-to="3"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="images/cakeImage1.png" alt="Cake product" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="images/cakeImage2.png" alt="Cake product" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="images/cakeImage4.png" alt="
                  Cake product" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="images/cakeImage6.png" alt="Cake product" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
              </div>
              <a href="#carouselDark" class="carousel-control-prev" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a href="#carouselDark" class="carousel-control-next" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>

          </div>

          <div class="col-lg-6 ps-lg-0">
  
            <h1 class="display-5 fw-bold 1h-1 mb-3 ">Sweet Surrender!</h1>
            <p class=""><em>We can provide custom cakes, sweets, dessert table set-up & party carts/booths. We can provide any cake/pastry needs, souvenirs, and full dessert table set-up. Packages Available. We do deliveries /meet up. Services: Custom Cake & Sweets, Dessert Table.</em></p>

            <div class="button-title pt-4">
              {% include howInfo.html %}
            </div>
                       
          </div>

        </div>
      </div>
      {% include features.html %}
    </div>