
<a class="btn btn-outline-light btn-lg me-2" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScroll" aria-controls="offcanvasScroll" id="faqs">How it works!</a>
            
  <div class="offcanvas bg-dark offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasScroll" aria-labelledby="offcanvasScrollLabel">

    <div class="offcanvas-header">
      <h5 class="offcanvas-title text-light" id="offcanvasScrollLabel">HOW TO ORDER</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="how-txt">
      <p>
        <strong>1.</strong> Click quote now and fill up your order. <br><strong>2.</strong> Find some pics for the design of your cake or select one directly from my page. <br><strong>3.</strong> Let us know if you'd like a birthday topper ordered for your cakes or what you would like the cupcakes topped with. <br><strong> 4. </strong>For cupcakes choose your base and buttercream flavours. <br> <strong> 5. </strong>Pick a date and time to collect. <br><strong> 6. </strong>Send us a direct message and submit the form and we will contact you!
      </p>  <br>

      <blockquote class="blockquote">
        <p id="offcanvasScrollLabel">Important notes for cakes:
        </p>
      </blockquote>  <br>
      <figcaption class="blockquote-footer">Cakes birthday topper<cite title="Source Title"> = $3.00</cite></figcaption>
      <figcaption class="blockquote-footer">Tiered cakes stacking fee<cite title="Source Title"> = $30.00</cite></figcaption>
      <figcaption class="blockquote-footer">Extra decorating fee may apply.</figcaption>
      <figcaption class="blockquote-footer">All prices stated applies only to standard cakes.</figcaption>

      <blockquote class="text-primary blockquote">
      <p id="offcanvasScrollLabel">Important notes for cupcakes and brownies:</p>
      </blockquote>  <br> 
      <figcaption class="blockquote-footer">Word topper for cupcakes<cite title="Source Title"> = 0.50 Each</cite></figcaption>
      <figcaption class="blockquote-footer">Picture topper<cite title="Source Title"> = $1.00 Each</cite></figcaption>
      <figcaption class="blockquote-footer">Fondant topper<cite title="Source Title"> = $4.00 Each</cite></figcaption>
      <figcaption class="blockquote-footer">Cupcakes and brownies minimum order is <cite title="Source Title">6pcs</cite></figcaption>
    </div>             
  </div>
              
              
<a class="btn btn-outline-light btn-lg" href="#priceTab">Quote Now</a>