<!-- Testimonials -->

  <section class="colored-section text-light" id="testimonials">
    <div class="testi-wrap container">
      <div class="carousel-inner box">
      <!-- 1st Carousel Item -->
        <div class="pt-lg-5 active">
          <h1 class="pb-3">
            <a href="{{ site.posts.first.url }}"> {{ site.posts.first.title }}</a>
          </h1>
          <h2 class="testimonial-text">{{ site.posts.first.excerpt }}</h2>
          <img class="testimonial-image" src="{{ site.posts.first.gravatar }}" alt="customer picture">
          <a href="{{ site.posts.first.authorTwitter }}" class=" social-link">Tw</a>
          by: {{ site.posts.first.author }} <span> - {{ site.posts.first.date | date: '%B %d, %Y' }} </span>,<em> Thank you!</em>
        </div>       
      </div>

      <!-- Press -->
      <div class="box">
        <img class="press-logo" src="images/techCrunch.png" alt="tc-logo">
        <img class="press-logo" src="images/tnw.png" alt="tnw-logo">
        <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">
        <img class="press-logo" src="images/mashable.png" alt="mashable-logo">
      </div>

    </div>
      {% include features.html %}

  </section>